
    RewriteEngine On
    RewriteBase /

    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s+/docs/\s [NC]
    RewriteRule ^ - [R=403,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^nk/([^/]+)$ /index.html?name=$1 [L,QSA,NC]
